pcss-common-models/src/main/resources/xsdSchemas/pcss-common-models-3.xsd

<xsd:schema xmlns:dx="http://courts.gov.bc.ca/XMLSchema/PCSS/common/1.0.0"
            targetNamespace="http://courts.gov.bc.ca/XMLSchema/PCSS/common/1.0.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:simpleType name="AgencyIdentifierType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:maxLength value="16"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SystemIdType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:maxLength value="16"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="DateTimeType">
        <xsd:restriction base="xsd:dateTime">
            <xsd:whiteSpace value="preserve"/>
            <xsd:length value="21"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="DateType">
        <xsd:restriction base="xsd:dateTime">
            <xsd:whiteSpace value="preserve"/>
            <xsd:length value="21"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="YesNoType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:enumeration value="Y"/>
            <xsd:enumeration value="N"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CourtDivisionType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="I"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CourtClassType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="Y"/>
            <xsd:enumeration value="T"/>
            <xsd:enumeration value="F"/>
            <xsd:enumeration value="C"/>
            <xsd:enumeration value="M"/>
            <xsd:enumeration value="L"/>
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="B"/>
            <xsd:enumeration value="D"/>
            <xsd:enumeration value="E"/>
            <xsd:enumeration value="G"/>
            <xsd:enumeration value="H"/>
            <xsd:enumeration value="N"/>
            <xsd:enumeration value="O"/>
            <xsd:enumeration value="P"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="V"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SystemSeqNoType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="OperationModeRscAvType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:enumeration value="D"/>
            <xsd:enumeration value="W"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="AssetType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TimeType">
        <xsd:restriction base="xsd:dateTime">
            <xsd:whiteSpace value="preserve"/>
            <xsd:length value="21"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CourtRoomCdType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:maxLength value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="ResourceType">
        <xsd:sequence>
            <xsd:element form="qualified" name="AgencyId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="ResourceId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="ResourceNm" type="xsd:string"/>
            <xsd:element form="qualified" name="AssetTypeCd" type="dx:AssetType"/>
            <xsd:element form="qualified" name="AssetUsageRuleCd" type="dx:AssetUsageRuleType"/>
            <xsd:element form="qualified" minOccurs="0" name="PhoneNumberTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="CommentTxt" type="xsd:string"/>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="AvailableRoom"
                         type="dx:AvailableRoom"/>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Day" type="dx:Day"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="AssetUsageRuleType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:enumeration value="FIX"/>
            <xsd:enumeration value="MOB"/>
            <xsd:enumeration value="WIT"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="AvailableRoom">
        <xsd:sequence>
            <xsd:element form="qualified" name="CourtAgencyId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="CourtRoomCd" type="dx:CourtRoomCdType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Day">
        <xsd:sequence>
            <xsd:element form="qualified" name="DayOfWeek" type="dx:DayOfWeekType"/>
            <xsd:element form="qualified" name="DayOfMonth" type="xsd:string"/>
            <xsd:element form="qualified" name="BookedHours" type="xsd:string"/>
            <xsd:element form="qualified" name="AvailabilityDt" type="dx:DateType"/>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="BookedTime" type="dx:BookedTime"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="DayOfWeekType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:enumeration value="Mo"/>
            <xsd:enumeration value="Tu"/>
            <xsd:enumeration value="We"/>
            <xsd:enumeration value="Th"/>
            <xsd:enumeration value="Fr"/>
            <xsd:enumeration value="Sa"/>
            <xsd:enumeration value="Su"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="BookedTime">
        <xsd:sequence>
            <xsd:element form="qualified" name="BookedFromTm" type="dx:TimeType"/>
            <xsd:element form="qualified" name="BookedToTm" type="dx:TimeType"/>
            <xsd:element form="qualified" minOccurs="0" name="CourtAgencyId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" minOccurs="0" name="CourtRoomCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="BookedByNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="CourtFileNumberTxt" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="DomainNmType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:enumeration value="IDIR"/>
            <xsd:enumeration value="PROVJUDGE"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="GuidType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:maxLength value="100"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="OperationModeBookType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:enumeration value="BOOK"/>
            <xsd:enumeration value="UPDATE"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ConcurrencyControlType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:maxLength value="12"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="OperationModeSchdType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:enumeration value="CANCEL"/>
            <xsd:enumeration value="DELETE"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CourtRoomSittingType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:enumeration value="D"/>
            <xsd:enumeration value="M"/>
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="E"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="AppearanceReasonCivilType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SearchModeType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:enumeration value="FILENO"/>
            <xsd:enumeration value="PARTNAME"/>
            <xsd:enumeration value="CROWN"/>
            <xsd:enumeration value="JUSTINNO"/>
            <xsd:enumeration value="PHYSID"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CourtLevelType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:enumeration value="P"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="A"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NameSearchType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:enumeration value="E"/>
            <xsd:enumeration value="P"/>
            <xsd:enumeration value="S"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="FileComplexityType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:enumeration value="SPC"/>
            <xsd:enumeration value="GA"/>
            <xsd:enumeration value="SA"/>
            <xsd:enumeration value="ALL"/>
            <xsd:enumeration value="SG"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="JustinNoType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:maxLength value="12"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PcssCourtDivisionType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:enumeration value="I"/>
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="F"/>
            <xsd:enumeration value=" "/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="AppearanceReasonCriminalType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="HearingRestrictionType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="D"/>
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="G"/>
            <xsd:enumeration value="XXX"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="AppearanceStatusType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
            <xsd:enumeration value="SCHD"/>
            <xsd:enumeration value="CNCL"/>
            <xsd:enumeration value="UNCF"/>
            <xsd:enumeration value="COMP"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>

