pcss-common-models/src/main/resources/xsdSchemas/pcss-common-models-2.xsd

<xsd:schema xmlns:pcss="http://courts.gov.bc.ca/XMLSchema/PCSS/1.0.0"
            targetNamespace="http://courts.gov.bc.ca/xml/ns/pcss/common/v1"
            xmlns:tns="http://courts.gov.bc.ca/xml/ns/pcss/common/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://courts.gov.bc.ca/XMLSchema/PCSS/1.0.0"/>


    <xsd:element name="getPing">
        <xsd:complexType>
            <xsd:sequence></xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getPingResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="status" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getHealth">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getHealthResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="appid" nillable="true" type="xsd:string"/>
                <xsd:element name="method" nillable="true" type="xsd:string"/>
                <xsd:element name="status" nillable="true" type="xsd:string"/>
                <xsd:element name="host" nillable="true" type="xsd:string"/>
                <xsd:element name="instance" nillable="true" type="xsd:string"/>
                <xsd:element name="version" nillable="true" type="xsd:string"/>
                <xsd:element name="compatibility" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="getCodeValues">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getCodeValuesRequest" nillable="true" type="tns:getCodeValuesRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="getCodeValuesRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getCodeValuesRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getCodeValuesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getCodeValuesResponse" nillable="true" type="tns:getCodeValuesResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="getCodeValuesResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getCodeValuesResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getOperationReport">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getOperationReportRequest" nillable="true" type="tns:getOperationReportRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="getOperationReportRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getOperationReportRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getOperationReportResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getOperationReportResponse" nillable="true" type="tns:getOperationReportResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="getOperationReportResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getOperationReportResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getOperationReportLov">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getOperationReportLovRequest" nillable="true"
                             type="tns:getOperationReportLovRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="getOperationReportLovRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getOperationReportLovRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getOperationReportLovResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getOperationReportLovResponse" nillable="true"
                             type="tns:getOperationReportLovResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="getOperationReportLovResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getOperationReportLovResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getReservedJudgment">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getReservedJudgmentRequest" nillable="true" type="tns:getReservedJudgmentRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="getReservedJudgmentRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getReservedJudgmentRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getReservedJudgmentResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getReservedJudgmentResponse" nillable="true"
                             type="tns:getReservedJudgmentResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="getReservedJudgmentResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getReservedJudgmentResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getResourceAvailability">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getResourceAvailabilityRequest" nillable="true"
                             type="tns:getResourceAvailabilityRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="getResourceAvailabilityRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getResourceAvailabilityRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getResourceAvailabilityResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getResourceAvailabilityResponse" nillable="true"
                             type="tns:getResourceAvailabilityResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="getResourceAvailabilityResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getResourceAvailabilityResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getUserLogin">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getUserLoginRequest" nillable="true" type="tns:getUserLoginRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="getUserLoginRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getUserLoginRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getUserLoginResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getUserLoginResponse" nillable="true" type="tns:getUserLoginResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="getUserLoginResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getUserLoginResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setResourceBooking">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setResourceBookingRequest" nillable="true" type="tns:setResourceBookingRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="setResourceBookingRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:setResourceBookingRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setResourceBookingResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setResourceBookingResponse" nillable="true" type="tns:setResourceBookingResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="setResourceBookingResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:setResourceBookingResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setResourceCancel">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setResourceCancelRequest" nillable="true" type="tns:setResourceCancelRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="setResourceCancelRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:setResourceCancelRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setResourceCancelResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setResourceCancelResponse" nillable="true" type="tns:setResourceCancelResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="setResourceCancelResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:setResourceCancelResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setAppearanceStatus">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setAppearanceStatusRequest" nillable="true" type="tns:setAppearanceStatusRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="setAppearanceStatusRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:setAppearanceStatusRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setAppearanceStatusResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setAppearanceStatusResponse" nillable="true"
                             type="tns:setAppearanceStatusResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="setAppearanceStatusResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:setAppearanceStatusResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setAppearanceBail">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setAppearanceBailRequest" nillable="true" type="tns:setAppearanceBailRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="setAppearanceBailRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:setAppearanceBailRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setAppearanceBailResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setAppearanceBailResponse" nillable="true"
                             type="tns:setAppearanceBailResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="setAppearanceBailResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:setAppearanceBailResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setSyncComplete">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setSyncCompleteRequest" nillable="true" type="tns:setSyncCompleteRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="setSyncCompleteRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:setSyncCompleteRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setSyncCompleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setSyncCompleteResponse" nillable="true" type="tns:setSyncCompleteResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="setSyncCompleteResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:setSyncCompleteResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setAppearanceMove">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setAppearanceMoveRequest" nillable="true" type="tns:setAppearanceMoveRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="setAppearanceMoveRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:setAppearanceMoveRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setAppearanceMoveResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setAppearanceMoveResponse" nillable="true" type="tns:setAppearanceMoveResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="setAppearanceMoveResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:setAppearanceMoveResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setCourtCalendar">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setCourtCalendarRequest" nillable="true" type="tns:setCourtCalendarRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="setCourtCalendarRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:setCourtCalendarRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setCourtCalendarResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setCourtCalendarResponse" nillable="true" type="tns:setCourtCalendarResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="setCourtCalendarResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:setCourtCalendarResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setAppearanceUpdate">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setAppearanceUpdateRequest" nillable="true" type="tns:setAppearanceUpdateRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="setAppearanceUpdateRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:setAppearanceUpdateRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setAppearanceUpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setAppearanceUpdateResponse" nillable="true"
                             type="tns:setAppearanceUpdateResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="setAppearanceUpdateResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:setAppearanceUpdateResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getFileSearch">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getFileSearchRequest" nillable="true" type="tns:getFileSearchRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="getFileSearchRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getFileSearchRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getFileSearchResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getFileSearchResponse" nillable="true" type="tns:getFileSearchResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="getFileSearchResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getFileSearchResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getCourtCalendarDetailByDay">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getCourtCalendarDetailByDayRequest" nillable="true"
                             type="tns:getCourtCalendarDetailByDayRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="getCourtCalendarDetailByDayRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getCourtCalendarDetailByDayRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getCourtCalendarDetailByDayResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getCourtCalendarDetailByDayResponse" nillable="true"
                             type="tns:getCourtCalendarDetailByDayResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="getCourtCalendarDetailByDayResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getCourtCalendarDetailByDayResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setCourtListMove">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setCourtListMoveRequest" nillable="true" type="tns:setCourtListMoveRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="setCourtListMoveRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:setCourtListMoveRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setCourtListMoveResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setCourtListMoveResponse" nillable="true" type="tns:setCourtListMoveResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="setCourtListMoveResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:setCourtListMoveResponse"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
