pcss-common-models/src/main/resources/xsdSchemas/pcss-common-models-1.xsd

<xsd:schema xmlns:dx="http://courts.gov.bc.ca/XMLSchema/PCSS/common/1.0.0"
            xmlns:pcss="http://courts.gov.bc.ca/XMLSchema/PCSS/1.0.0"
            targetNamespace="http://courts.gov.bc.ca/XMLSchema/PCSS/1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://courts.gov.bc.ca/XMLSchema/PCSS/common/1.0.0" />
    <xsd:element name="getCodeValuesRequest" type="pcss:getCodeValuesRequest"/>
    <xsd:element name="getCodeValuesResponse" type="pcss:getCodeValuesResponse"/>
    <xsd:element name="getOperationReportRequest" type="pcss:getOperationReportRequest"/>
    <xsd:element name="getOperationReportResponse" type="pcss:getOperationReportResponse"/>
    <xsd:element name="getOperationReportLovRequest" type="pcss:getOperationReportLovRequest"/>
    <xsd:element name="getOperationReportLovResponse" type="pcss:getOperationReportLovResponse"/>
    <xsd:element name="getReservedJudgmentRequest" type="pcss:getReservedJudgmentRequest"/>
    <xsd:element name="getReservedJudgmentResponse" type="pcss:getReservedJudgmentResponse"/>
    <xsd:element name="getResourceAvailabilityRequest" type="pcss:getResourceAvailabilityRequest"/>
    <xsd:element name="getResourceAvailabilityResponse" type="pcss:getResourceAvailabilityResponse"/>
    <xsd:element name="getUserLoginRequest" type="pcss:getUserLoginRequest"/>
    <xsd:element name="getUserLoginResponse" type="pcss:getUserLoginResponse"/>
    <xsd:element name="setResourceBookingRequest" type="pcss:setResourceBookingRequest"/>
    <xsd:element name="setResourceBookingResponse" type="pcss:setResourceBookingResponse"/>
    <xsd:element name="setResourceCancelRequest" type="pcss:setResourceCancelRequest"/>
    <xsd:element name="setResourceCancelResponse" type="pcss:setResourceCancelResponse"/>
    <xsd:element name="setAppearanceStatusRequest" type="pcss:setAppearanceStatusRequest"/>
    <xsd:element name="setAppearanceStatusResponse" type="pcss:setAppearanceStatusResponse"/>
    <xsd:element name="setAppearanceBailRequest" type="pcss:setAppearanceBailRequest"/>
    <xsd:element name="setAppearanceBailResponse" type="pcss:setAppearanceBailResponse"/>
    <xsd:element name="setSyncCompleteRequest" type="pcss:setSyncCompleteRequest"/>
    <xsd:element name="setSyncCompleteResponse" type="pcss:setSyncCompleteResponse"/>
    <xsd:element name="setAppearanceMoveRequest" type="pcss:setAppearanceMoveRequest"/>
    <xsd:element name="setAppearanceMoveResponse" type="pcss:setAppearanceMoveResponse"/>
    <xsd:element name="setCourtCalendarRequest" type="pcss:setCourtCalendarRequest"/>
    <xsd:element name="setCourtCalendarResponse" type="pcss:setCourtCalendarResponse"/>
    <xsd:element name="setAppearanceUpdateRequest" type="pcss:setAppearanceUpdateRequest"/>
    <xsd:element name="setAppearanceUpdateResponse" type="pcss:setAppearanceUpdateResponse"/>
    <xsd:element name="getFileSearchRequest" type="pcss:getFileSearchRequest"/>
    <xsd:element name="getFileSearchResponse" type="pcss:getFileSearchResponse"/>
    <xsd:element name="getCourtCalendarDetailByDayRequest" type="pcss:getCourtCalendarDetailByDayRequest"/>
    <xsd:element name="getCourtCalendarDetailByDayResponse" type="pcss:getCourtCalendarDetailByDayResponse"/>
    <xsd:element name="setCourtListMoveRequest" type="pcss:setCourtListMoveRequest"/>
    <xsd:element name="setCourtListMoveResponse" type="pcss:setCourtListMoveResponse"/>
    <xsd:complexType name="getCodeValuesRequest">
        <xsd:sequence>
            <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
            <xsd:element form="qualified" minOccurs="0" name="lastRetrievedDate" type="dx:DateType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getCodeValuesResponse">
        <xsd:sequence>
            <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
            <xsd:element form="qualified" name="CeisCodeValues" type="pcss:CeisCodeValues"/>
            <xsd:element form="qualified" name="JustinCodeValues" type="pcss:JustinCodeValues"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CeisCodeValues">
        <xsd:sequence>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="CodeValue" type="pcss:CodeValue"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CodeValue">
        <xsd:sequence>
            <xsd:element form="qualified" name="codeType" type="xsd:string"/>
            <xsd:element form="qualified" name="code" type="xsd:string"/>
            <xsd:element form="qualified" name="shortDesc" type="xsd:string"/>
            <xsd:element form="qualified" name="longDesc" type="xsd:string"/>
            <xsd:element form="qualified" name="flex" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JustinCodeValues">
        <xsd:sequence>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="CodeValue" type="pcss:CodeValue2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CodeValue2">
        <xsd:sequence>
            <xsd:element form="qualified" name="codeType" type="xsd:string"/>
            <xsd:element form="qualified" name="code" type="xsd:string"/>
            <xsd:element form="qualified" name="shortDesc" type="xsd:string"/>
            <xsd:element form="qualified" name="longDesc" type="xsd:string"/>
            <xsd:element form="qualified" name="flex" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getOperationReportRequest">
        <xsd:sequence>
            <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getOperationReportResponse">
        <xsd:sequence>
            <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Report" type="pcss:Report"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Report">
        <xsd:sequence>
            <xsd:element form="qualified" name="ReportNm" type="xsd:string"/>
            <xsd:element form="qualified" name="ReportDscTxt" type="xsd:string"/>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Parm" type="pcss:Parm"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Parm">
        <xsd:sequence>
            <xsd:element form="qualified" name="ParmNm" type="xsd:string"/>
            <xsd:element form="qualified" name="VisibleYN" type="dx:YesNoType"/>
            <xsd:element form="qualified" name="MandatoryYN" type="dx:YesNoType"/>
            <xsd:element form="qualified" name="LovYN" type="dx:YesNoType"/>
            <xsd:element form="qualified" name="PromptNm" type="xsd:string"/>
            <xsd:element form="qualified" name="SeqNo" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="DefaultValTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="DataTypeTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="FormatMaskTxt" type="xsd:string"/>
            <xsd:element form="qualified" name="BindVariableYN" type="dx:YesNoType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getOperationReportLovRequest">
        <xsd:sequence>
            <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
            <xsd:element form="qualified" name="ReportNm" type="xsd:string"/>
            <xsd:element form="qualified" name="ParmNm" type="xsd:string"/>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="ParmValue" type="pcss:ParmValue"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ParmValue">
        <xsd:sequence>
            <xsd:element form="qualified" minOccurs="0" name="ValTxt" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getOperationReportLovResponse">
        <xsd:sequence>
            <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Lov" type="pcss:Lov"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Lov">
        <xsd:sequence>
            <xsd:element form="qualified" name="Cd" type="xsd:string"/>
            <xsd:element form="qualified" name="Val" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getReservedJudgmentRequest">
        <xsd:sequence>
            <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getReservedJudgmentResponse">
        <xsd:sequence>
            <xsd:element form="qualified" minOccurs="0" name="ResponseCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="ReservedJudgment"
                         type="pcss:ReservedJudgment"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReservedJudgment">
        <xsd:sequence>
            <xsd:element form="qualified" name="AdjudicatorPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="CourtDivisionCd" type="dx:CourtDivisionType"/>
            <xsd:element form="qualified" name="CourtClassCd" type="dx:CourtClassType"/>
            <xsd:element form="qualified" name="CourtFileHomeAgencyId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="FileNumberTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="NextAppearancetDt" type="dx:DateType"/>
            <xsd:element form="qualified" minOccurs="0" name="NextAppearancetAgencyId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" minOccurs="0" name="AccusedNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="SocTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="JustinNo" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="ProfPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="ProfSeqNo" type="dx:SystemSeqNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="PhysicalFileId" type="dx:SystemIdType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getResourceAvailabilityRequest">
        <xsd:sequence>
            <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
            <xsd:element form="qualified" name="ModeCd" type="dx:OperationModeRscAvType"/>
            <xsd:element form="qualified" name="BookingDt" type="dx:DateType"/>
            <xsd:element form="qualified" minOccurs="0" name="AssetTypeCd" type="dx:AssetType"/>
            <xsd:element form="qualified" minOccurs="0" name="BookingForRoleCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="BookingFromTm" type="dx:TimeType"/>
            <xsd:element form="qualified" minOccurs="0" name="BookingToTm" type="dx:TimeType"/>
            <xsd:element form="qualified" minOccurs="0" name="PrimaryAgencyId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" minOccurs="0" name="PrimaryCourtRoomCd" type="dx:CourtRoomCdType"/>
            <xsd:element form="qualified" minOccurs="0" name="SecondaryAgencyId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" minOccurs="0" name="SecondaryCourtRoomCd" type="dx:CourtRoomCdType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getResourceAvailabilityResponse">
        <xsd:sequence>
            <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="PrimaryResource"
                         type="dx:ResourceType"/>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="SecondaryResource"
                         type="dx:ResourceType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getUserLoginRequest">
        <xsd:sequence>
            <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
            <xsd:element form="qualified" name="DomainNm" type="dx:DomainNmType"/>
            <xsd:element form="qualified" name="DomainUserGuid" type="dx:GuidType"/>
            <xsd:element form="qualified" name="DomainUserId" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="TemporaryAccessGuid" type="dx:GuidType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getUserLoginResponse">
        <xsd:sequence>
            <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="UserPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="UserLastNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="UserGivenNm" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="setResourceBookingRequest">
        <xsd:sequence>
            <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
            <xsd:element form="qualified" name="OperationModeCd" type="dx:OperationModeBookType"/>
            <xsd:element form="qualified" minOccurs="0" name="AppearanceId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="CourtDivisionCd" type="dx:CourtDivisionType"/>
            <xsd:element form="qualified" name="ResourceId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="BookingDt" type="dx:DateType"/>
            <xsd:element form="qualified" name="BookingFromTm" type="dx:TimeType"/>
            <xsd:element form="qualified" name="BookingToTm" type="dx:TimeType"/>
            <xsd:element form="qualified" name="CourtAgencyId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="CourtRoomCd" type="dx:CourtRoomCdType"/>
            <xsd:element form="qualified" minOccurs="0" name="BookingCommentTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="BookingId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="BookingCcn" type="dx:ConcurrencyControlType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="setResourceBookingResponse">
        <xsd:sequence>
            <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="BookingId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="BookingCcn" type="dx:ConcurrencyControlType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="setResourceCancelRequest">
        <xsd:sequence>
            <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
            <xsd:element form="qualified" name="BookingId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="BookingCcn" type="dx:ConcurrencyControlType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="setResourceCancelResponse">
        <xsd:sequence>
            <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="setAppearanceStatusRequest">
        <xsd:sequence>
            <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Detail" type="pcss:Detail"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Detail">
        <xsd:sequence>
            <xsd:element form="qualified" name="OperationModeCd" type="dx:OperationModeSchdType"/>
            <xsd:element form="qualified" name="FileDivisionCd" type="dx:CourtDivisionType"/>
            <xsd:element form="qualified" name="AppearanceId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="AppearanceCcn" type="dx:ConcurrencyControlType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="setAppearanceStatusResponse">
        <xsd:sequence>
            <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="setAppearanceBailRequest">
        <xsd:sequence>
            <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Detail" type="pcss:BailDetail"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BailDetail">
        <xsd:sequence>
            <xsd:element form="qualified" name="AppearanceId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="AppearanceCcn" type="dx:ConcurrencyControlType"/>
            <xsd:element form="qualified" name="BailPositionTypeCd" type="xsd:string"/>
            <xsd:element form="qualified" name="BailDecisionTypeCd" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="setAppearanceBailResponse">
        <xsd:sequence>
            <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="setSyncCompleteRequest">
        <xsd:sequence>
            <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
            <xsd:element form="qualified" name="ProcessUpToDtm" type="dx:DateTimeType"/>
            <xsd:element form="qualified" name="CriminalAppearanceYn" type="dx:YesNoType"/>
            <xsd:element form="qualified" name="CivilAppearanceYn" type="dx:YesNoType"/>
            <xsd:element form="qualified" name="CriminalHearingRestrictionYn" type="dx:YesNoType"/>
            <xsd:element form="qualified" name="CivilHearingRestrictionYn" type="dx:YesNoType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="setSyncCompleteResponse">
        <xsd:sequence>
            <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="setAppearanceMoveRequest">
        <xsd:sequence>
            <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Detail" type="pcss:Detail2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Detail2">
        <xsd:sequence>
            <xsd:element form="qualified" name="FileDivisionCd" type="dx:CourtDivisionType"/>
            <xsd:element form="qualified" name="AppearanceId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="CourtRoomCd" type="dx:CourtRoomCdType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="setAppearanceMoveResponse">
        <xsd:sequence>
            <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="setCourtCalendarRequest">
        <xsd:sequence>
            <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Detail" type="pcss:Detail3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Detail3">
        <xsd:sequence>
            <xsd:element form="qualified" name="CourtAgencyId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="CourtRoomCd" type="dx:CourtRoomCdType"/>
            <xsd:element form="qualified" name="AvailableDt" type="dx:DateType"/>
            <xsd:element form="qualified" name="CourtRoomSittingCd" type="dx:CourtRoomSittingType"/>
            <xsd:element form="qualified" minOccurs="0" name="AdjudicatorPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="JudgeSeizedYn" type="dx:YesNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="ActivityCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="RoomAssignedYn" type="dx:YesNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="PcssCourtActivityId" type="dx:SystemIdType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="setCourtCalendarResponse">
        <xsd:sequence>
            <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="setAppearanceUpdateRequest">
        <xsd:sequence>
            <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
            <xsd:element form="qualified" name="FileDivisionCd" type="dx:CourtDivisionType"/>
            <xsd:element form="qualified" name="AppearanceId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="AppearanceReasonCd" type="dx:AppearanceReasonCivilType"/>
            <xsd:element form="qualified" name="AppearanceTm" type="dx:TimeType"/>
            <xsd:element form="qualified" minOccurs="0" name="EstimatedTimeHour" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="EstimatedTimeMin" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="SupplementalEquipmentTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="SecurityRestrictionTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="OutOfTownJudgeTxt" type="xsd:string"/>
            <xsd:element form="qualified" name="AppearanceCcn" type="dx:ConcurrencyControlType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="setAppearanceUpdateResponse">
        <xsd:sequence>
            <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="AppearanceCcn" type="dx:ConcurrencyControlType"/>
            <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getFileSearchRequest">
        <xsd:sequence>
            <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
            <xsd:element form="qualified" name="SearchMode" type="dx:SearchModeType"/>
            <xsd:element form="qualified" minOccurs="0" name="FileDivisionCd" type="dx:CourtDivisionType"/>
            <xsd:element form="qualified" minOccurs="0" name="FileHomeAgencyId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" minOccurs="0" name="FileNumberTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="FilePrefixTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="FileSuffixNo" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="MdocRefTypeCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="CourtClassCd" type="dx:CourtClassType"/>
            <xsd:element form="qualified" minOccurs="0" name="CourtLevelCd" type="dx:CourtLevelType"/>
            <xsd:element form="qualified" minOccurs="0" name="NameSearchTypeCd" type="dx:NameSearchType"/>
            <xsd:element form="qualified" minOccurs="0" name="LastNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="OrgNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="GivenNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="BirthDt" type="xsd:string"/>
            <xsd:element form="qualified" maxOccurs="unbounded" name="Permission" type="pcss:Permission"/>
            <xsd:element form="qualified" minOccurs="0" name="SearchByCrown" type="pcss:SearchByCrown"/>
            <xsd:element form="qualified" minOccurs="0" name="MdocJustinNoSet" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="PhysicalFileIdSet" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="ApplicationCd" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Permission">
        <xsd:sequence>
            <xsd:element form="qualified" minOccurs="0" name="CourtClassCd" type="dx:CourtClassType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SearchByCrown">
        <xsd:sequence>
            <xsd:element form="qualified" name="CrownPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="ActiveOnlyYN" type="dx:YesNoType"/>
            <xsd:element form="qualified" name="FileDesignationCd" type="dx:FileComplexityType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getFileSearchResponse">
        <xsd:sequence>
            <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="RecCount" type="xsd:string"/>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="FileDetail" type="pcss:FileDetail"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FileDetail">
        <xsd:sequence>
            <xsd:element form="qualified" minOccurs="0" name="MdocJustinNo" type="dx:JustinNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="PhysicalFileId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="FileHomeAgencyId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="FileNumberTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="MdocSeqNo" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="TicketSeriesTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="MdocRefTypeCd" type="xsd:string"/>
            <xsd:element form="qualified" name="CourtLevelCd" type="dx:CourtLevelType"/>
            <xsd:element form="qualified" name="CourtClassCd" type="dx:CourtClassType"/>
            <xsd:element form="qualified" minOccurs="0" name="WarrantYN" type="dx:YesNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="InCustodyYN" type="dx:YesNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="NextApprDt" type="dx:DateType"/>
            <xsd:element form="qualified" name="PcssCourtDivisionCd" type="dx:PcssCourtDivisionType"/>
            <xsd:element form="qualified" minOccurs="0" name="SealStatusCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="ApprovalCrownAgencyTypeCd" type="xsd:string"/>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Participant"
                         type="pcss:Participant"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Participant">
        <xsd:sequence>
            <xsd:element form="qualified" name="FullNm" type="xsd:string"/>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Charge" type="pcss:Charge"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Charge">
        <xsd:sequence>
            <xsd:element form="qualified" name="SectionTxt" type="xsd:string"/>
            <xsd:element form="qualified" name="SectionDscTxt" type="xsd:string"/>
            <xsd:element form="qualified" name="RestrictedStatuteYN" type="dx:YesNoType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getCourtCalendarDetailByDayRequest">
        <xsd:sequence>
            <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
            <xsd:element form="qualified" minOccurs="0" name="ApplicationCd" type="xsd:string"/>
            <xsd:element form="qualified" name="CourtAgencyId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="AppearanceDt" type="dx:DateType"/>
            <xsd:element form="qualified" name="CourtRoomCd" type="dx:CourtRoomCdType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getCourtCalendarDetailByDayResponse">
        <xsd:sequence>
            <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Appearance" type="pcss:Appearance"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Appearance">
        <xsd:sequence>
            <xsd:element form="qualified" name="CourtDivisionCd" type="dx:CourtDivisionType"/>
            <xsd:element form="qualified" name="CourtClassCd" type="dx:CourtClassType"/>
            <xsd:element form="qualified" name="CourtRoomCd" type="dx:CourtRoomCdType"/>
            <xsd:element form="qualified" name="AppearanceDt" type="dx:DateTimeType"/>
            <xsd:element form="qualified" name="AppearanceTm" type="dx:DateTimeType"/>
            <xsd:element form="qualified" name="AppearanceReasonCd" type="dx:AppearanceReasonCriminalType"/>
            <xsd:element form="qualified" minOccurs="0" name="DurationHour" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="DurationMin" type="xsd:string"/>
            <xsd:element form="qualified" name="CourtFileNumber" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="StyleOfCause" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="AdjudicatorInitials" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="AdjudicatorNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="HearingRestrictionCd" type="dx:HearingRestrictionType"/>
            <xsd:element form="qualified" minOccurs="0" name="CaseAgeDays" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="VideoYn" type="dx:YesNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="InCustodyYn" type="dx:YesNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="ApprId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="AccusedNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="AccusedCounselNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="AppearanceId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="ProfPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="ProfSeqNo" type="dx:SystemSeqNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="AppearanceStatusCd" type="dx:AppearanceStatusType"/>
            <xsd:element form="qualified" minOccurs="0" name="RemoteVideoYn" type="dx:YesNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="HomeLocationAgenId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" minOccurs="0" name="CourtlistRefNumber" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="MdocJustinNo" type="dx:JustinNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="PhysicalFileId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="CourtLevelCd" type="dx:CourtLevelType"/>
            <xsd:element form="qualified" minOccurs="0" name="NoteTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="BailPositionTypeCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="BailDecisionTypeCd" type="xsd:string"/>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Party" type="pcss:Party"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Party">
        <xsd:sequence>
            <xsd:element form="qualified" name="PartyId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="PartyNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="CounselNm" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="setCourtListMoveRequest">
        <xsd:sequence>
            <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
            <xsd:element form="qualified" name="ApplicationCd" type="xsd:string"/>
            <xsd:element form="qualified" name="CourtListDate" type="dx:DateType"/>
            <xsd:element form="qualified" name="OldAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="OldCourtRoomCd" type="dx:CourtRoomCdType"/>
            <xsd:element form="qualified" minOccurs="0" name="FileDivisionCd" type="dx:CourtDivisionType"/>
            <xsd:element form="qualified" name="NewAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="NewCourtRoomCd" type="dx:CourtRoomCdType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="setCourtListMoveResponse">
        <xsd:sequence>
            <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
