pcss-common-application/src/main/resources/xsdSchemas/pcss-common-secure.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="pcssCommonSecure" targetNamespace="http://courts.gov.bc.ca/xml/ns/pcss/common/v1" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://courts.gov.bc.ca/xml/ns/pcss/common/v1" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://reeks.bcgov/JusticePCSSCommon.wsProvider:pcssCommonSecure" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:HDR1="http://courts.gov.bc.ca/XMLSchema/PCSS/common/1.0.0" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:HDR2="http://courts.gov.bc.ca/XMLSchema/PCSS/1.0.0" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
    <wsdl:types>
        <xsd:schema xmlns:dx="http://courts.gov.bc.ca/XMLSchema/PCSS/common/1.0.0" xmlns:pcss="http://courts.gov.bc.ca/XMLSchema/PCSS/1.0.0" targetNamespace="http://courts.gov.bc.ca/XMLSchema/PCSS/1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://courts.gov.bc.ca/XMLSchema/PCSS/common/1.0.0"/>
            <xsd:element name="getFileSearchRequest" type="pcss:getFileSearchRequest"/>
            <xsd:element name="getFileSearchResponse" type="pcss:getFileSearchResponse"/>
            <xsd:element name="getGetCodeValueSecureRequest" type="pcss:getGetCodeValueSecureRequest"/>
            <xsd:element name="getCodeValuesResponse" type="pcss:getCodeValuesResponse"/>
            <xsd:element name="getCourtCalendarDetailByDaySecureRequest" type="pcss:getCourtCalendarDetailByDaySecureRequest"/>
            <xsd:element name="getCourtCalendarDetailByDayResponse" type="pcss:getCourtCalendarDetailByDayResponse"/>
            <xsd:complexType name="getFileSearchRequest">
                <xsd:sequence>
                    <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
                    <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
                    <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
                    <xsd:element form="qualified" name="SearchMode" type="dx:SearchModeType"/>
                    <xsd:element form="qualified" minOccurs="0" name="FileDivisionCd" type="dx:CourtDivisionType"/>
                    <xsd:element form="qualified" minOccurs="0" name="FileHomeAgencyId" type="dx:AgencyIdentifierType"/>
                    <xsd:element form="qualified" minOccurs="0" name="FileNumberTxt" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="FilePrefixTxt" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="FileSuffixNo" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="MdocRefTypeCd" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="CourtClassCd" type="dx:CourtClassType"/>
                    <xsd:element form="qualified" minOccurs="0" name="CourtLevelCd" type="dx:CourtLevelType"/>
                    <xsd:element form="qualified" minOccurs="0" name="NameSearchTypeCd" type="dx:NameSearchType"/>
                    <xsd:element form="qualified" minOccurs="0" name="LastNm" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="OrgNm" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="GivenNm" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="BirthDt" type="xsd:string"/>
                    <xsd:element form="qualified" maxOccurs="unbounded" name="Permission" type="pcss:Permission"/>
                    <xsd:element form="qualified" minOccurs="0" name="SearchByCrown" type="pcss:SearchByCrown"/>
                    <xsd:element form="qualified" minOccurs="0" name="MdocJustinNoSet" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="PhysicalFileIdSet" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="ApplicationCd" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Permission">
                <xsd:sequence>
                    <xsd:element form="qualified" minOccurs="0" name="CourtClassCd" type="dx:CourtClassType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SearchByCrown">
                <xsd:sequence>
                    <xsd:element form="qualified" name="CrownPartId" type="dx:SystemIdType"/>
                    <xsd:element form="qualified" name="ActiveOnlyYN" type="dx:YesNoType"/>
                    <xsd:element form="qualified" name="FileDesignationCd" type="dx:FileComplexityType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFileSearchResponse">
                <xsd:sequence>
                    <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="RecCount" type="xsd:string"/>
                    <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="FileDetail" type="pcss:FileDetail"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FileDetail">
                <xsd:sequence>
                    <xsd:element form="qualified" minOccurs="0" name="MdocJustinNo" type="dx:JustinNoType"/>
                    <xsd:element form="qualified" minOccurs="0" name="PhysicalFileId" type="dx:SystemIdType"/>
                    <xsd:element form="qualified" name="FileHomeAgencyId" type="dx:AgencyIdentifierType"/>
                    <xsd:element form="qualified" name="FileNumberTxt" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="MdocSeqNo" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="TicketSeriesTxt" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="MdocRefTypeCd" type="xsd:string"/>
                    <xsd:element form="qualified" name="CourtLevelCd" type="dx:CourtLevelType"/>
                    <xsd:element form="qualified" name="CourtClassCd" type="dx:CourtClassType"/>
                    <xsd:element form="qualified" minOccurs="0" name="WarrantYN" type="dx:YesNoType"/>
                    <xsd:element form="qualified" minOccurs="0" name="InCustodyYN" type="dx:YesNoType"/>
                    <xsd:element form="qualified" minOccurs="0" name="NextApprDt" type="dx:DateType"/>
                    <xsd:element form="qualified" name="PcssCourtDivisionCd" type="dx:PcssCourtDivisionType"/>
                    <xsd:element form="qualified" minOccurs="0" name="SealStatusCd" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="ApprovalCrownAgencyTypeCd" type="xsd:string"/>
                    <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Participant" type="pcss:Participant"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Participant">
                <xsd:sequence>
                    <xsd:element form="qualified" name="FullNm" type="xsd:string"/>
                    <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Charge" type="pcss:Charge"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Charge">
                <xsd:sequence>
                    <xsd:element form="qualified" name="SectionTxt" type="xsd:string"/>
                    <xsd:element form="qualified" name="SectionDscTxt" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getGetCodeValueSecureRequest">
                <xsd:sequence>
                    <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
                    <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
                    <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
                    <xsd:element form="qualified" name="ApplicationCd" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="lastRetrievedDate" type="dx:DateType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getCodeValuesResponse">
                <xsd:sequence>
                    <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
                    <xsd:element form="qualified" name="CeisCodeValues" type="pcss:CeisCodeValues"/>
                    <xsd:element form="qualified" name="JustinCodeValues" type="pcss:JustinCodeValues"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CeisCodeValues">
                <xsd:sequence>
                    <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="CodeValue" type="pcss:CodeValue"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CodeValue">
                <xsd:sequence>
                    <xsd:element form="qualified" name="codeType" type="xsd:string"/>
                    <xsd:element form="qualified" name="code" type="xsd:string"/>
                    <xsd:element form="qualified" name="shortDesc" type="xsd:string"/>
                    <xsd:element form="qualified" name="longDesc" type="xsd:string"/>
                    <xsd:element form="qualified" name="flex" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="JustinCodeValues">
                <xsd:sequence>
                    <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="CodeValue" type="pcss:CodeValue2"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CodeValue2">
                <xsd:sequence>
                    <xsd:element form="qualified" name="codeType" type="xsd:string"/>
                    <xsd:element form="qualified" name="code" type="xsd:string"/>
                    <xsd:element form="qualified" name="shortDesc" type="xsd:string"/>
                    <xsd:element form="qualified" name="longDesc" type="xsd:string"/>
                    <xsd:element form="qualified" name="flex" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getCourtCalendarDetailByDaySecureRequest">
                <xsd:sequence>
                    <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
                    <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
                    <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
                    <xsd:element form="qualified" name="ApplicationCd" type="xsd:string"/>
                    <xsd:element form="qualified" name="CourtAgencyId" type="dx:AgencyIdentifierType"/>
                    <xsd:element form="qualified" name="AppearanceDt" type="dx:DateType"/>
                    <xsd:element form="qualified" name="CourtRoomCd" type="dx:CourtRoomCdType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getCourtCalendarDetailByDayResponse">
                <xsd:sequence>
                    <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
                    <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Appearance" type="pcss:Appearance"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Appearance">
                <xsd:sequence>
                    <xsd:element form="qualified" name="CourtDivisionCd" type="dx:CourtDivisionType"/>
                    <xsd:element form="qualified" name="CourtClassCd" type="dx:CourtClassType"/>
                    <xsd:element form="qualified" name="CourtRoomCd" type="dx:CourtRoomCdType"/>
                    <xsd:element form="qualified" name="AppearanceDt" type="dx:DateType"/>
                    <xsd:element form="qualified" name="AppearanceTm" type="dx:TimeType"/>
                    <xsd:element form="qualified" name="AppearanceReasonCd" type="dx:AppearanceReasonCriminalType"/>
                    <xsd:element form="qualified" minOccurs="0" name="DurationHour" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="DurationMin" type="xsd:string"/>
                    <xsd:element form="qualified" name="CourtFileNumber" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="StyleOfCause" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="AdjudicatorInitials" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="AdjudicatorNm" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="HearingRestrictionCd" type="dx:HearingRestrictionType"/>
                    <xsd:element form="qualified" minOccurs="0" name="CaseAgeDays" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="VideoYn" type="dx:YesNoType"/>
                    <xsd:element form="qualified" minOccurs="0" name="InCustodyYn" type="dx:YesNoType"/>
                    <xsd:element form="qualified" minOccurs="0" name="ApprId" type="dx:SystemIdType"/>
                    <xsd:element form="qualified" minOccurs="0" name="AccusedNm" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="AccusedCounselNm" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="AppearanceId" type="dx:SystemIdType"/>
                    <xsd:element form="qualified" minOccurs="0" name="ProfPartId" type="dx:SystemIdType"/>
                    <xsd:element form="qualified" minOccurs="0" name="ProfSeqNo" type="dx:SystemSeqNoType"/>
                    <xsd:element form="qualified" minOccurs="0" name="AppearanceStatusCd" type="dx:AppearanceStatusType"/>
                    <xsd:element form="qualified" minOccurs="0" name="RemoteVideoYn" type="dx:YesNoType"/>
                    <xsd:element form="qualified" minOccurs="0" name="HomeLocationAgenId" type="dx:AgencyIdentifierType"/>
                    <xsd:element form="qualified" minOccurs="0" name="CourtlistRefNumber" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="MdocJustinNo" type="dx:JustinNoType"/>
                    <xsd:element form="qualified" minOccurs="0" name="PhysicalFileId" type="dx:SystemIdType"/>
                    <xsd:element form="qualified" minOccurs="0" name="CourtLevelCd" type="dx:CourtLevelType"/>
                    <xsd:element form="qualified" minOccurs="0" name="NoteTxt" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="BailPositionTypeCd" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="BailDecisionTypeCd" type="xsd:string"/>
                    <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Party" type="pcss:Party"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Party">
                <xsd:sequence>
                    <xsd:element form="qualified" name="PartyId" type="dx:SystemIdType"/>
                    <xsd:element form="qualified" name="PartyNm" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="CounselNm" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:pcss="http://courts.gov.bc.ca/XMLSchema/PCSS/1.0.0" xmlns:tns="http://courts.gov.bc.ca/xml/ns/pcss/common/v1" targetNamespace="http://courts.gov.bc.ca/xml/ns/pcss/common/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://courts.gov.bc.ca/XMLSchema/PCSS/1.0.0"/>
            <xsd:element name="getFileSearchSecure" type="tns:getFileSearchSecure"/>
            <xsd:element name="getFileSearchSecureResponse" type="tns:getFileSearchSecureResponse"/>
            <xsd:element name="getCodeValuesSecure" type="tns:getCodeValuesSecure"/>
            <xsd:element name="getCodeValuesSecureResponse" type="tns:getCodeValuesSecureResponse"/>
            <xsd:element name="getCourtCalendarDetailByDaySecure" type="tns:getCourtCalendarDetailByDaySecure"/>
            <xsd:element name="getCourtCalendarDetailByDaySecureResponse" type="tns:getCourtCalendarDetailByDaySecureResponse"/>
            <xsd:complexType name="getFileSearchSecure">
                <xsd:sequence>
                    <xsd:element name="getFileSearchSecureRequest" nillable="true" type="tns:getFileSearchRequest"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFileSearchRequest">
                <xsd:sequence>
                    <xsd:element ref="pcss:getFileSearchRequest"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFileSearchSecureResponse">
                <xsd:sequence>
                    <xsd:element name="getFileSearchResponse" nillable="true" type="tns:getFileSearchResponse"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFileSearchResponse">
                <xsd:sequence>
                    <xsd:element ref="pcss:getFileSearchResponse"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getCodeValuesSecure">
                <xsd:sequence>
                    <xsd:element name="getCodeValuesSecureRequest" nillable="true" type="tns:getCodeValuesSecureRequest"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getCodeValuesSecureRequest">
                <xsd:sequence>
                    <xsd:element ref="pcss:getGetCodeValueSecureRequest"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getCodeValuesSecureResponse">
                <xsd:sequence>
                    <xsd:element name="getCodeValuesResponse" nillable="true" type="tns:getCodeValuesResponse"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getCodeValuesResponse">
                <xsd:sequence>
                    <xsd:element ref="pcss:getCodeValuesResponse"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getCourtCalendarDetailByDaySecure">
                <xsd:sequence>
                    <xsd:element name="getCourtCalendarDetailByDaySecureRequest" nillable="true" type="tns:getCourtCalendarDetailByDaySecureRequest"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getCourtCalendarDetailByDaySecureRequest">
                <xsd:sequence>
                    <xsd:element ref="pcss:getCourtCalendarDetailByDaySecureRequest"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getCourtCalendarDetailByDaySecureResponse">
                <xsd:sequence>
                    <xsd:element name="getCourtCalendarDetailByDayResponse" nillable="true" type="tns:getCourtCalendarDetailByDayResponse"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getCourtCalendarDetailByDayResponse">
                <xsd:sequence>
                    <xsd:element ref="pcss:getCourtCalendarDetailByDayResponse"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:dx="http://courts.gov.bc.ca/XMLSchema/PCSS/common/1.0.0" targetNamespace="http://courts.gov.bc.ca/XMLSchema/PCSS/common/1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:simpleType name="AgencyIdentifierType">
                <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:maxLength value="16"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="SystemIdType">
                <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:maxLength value="16"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="DateTimeType">
                <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:length value="21"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="SearchModeType">
                <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="FILENO"/>
                    <xsd:enumeration value="PARTNAME"/>
                    <xsd:enumeration value="CROWN"/>
                    <xsd:enumeration value="JUSTINNO"/>
                    <xsd:enumeration value="PHYSID"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CourtDivisionType">
                <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="R"/>
                    <xsd:enumeration value="I"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CourtClassType">
                <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="A"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="T"/>
                    <xsd:enumeration value="F"/>
                    <xsd:enumeration value="C"/>
                    <xsd:enumeration value="M"/>
                    <xsd:enumeration value="L"/>
                    <xsd:enumeration value="R"/>
                    <xsd:enumeration value="B"/>
                    <xsd:enumeration value="D"/>
                    <xsd:enumeration value="E"/>
                    <xsd:enumeration value="G"/>
                    <xsd:enumeration value="H"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="O"/>
                    <xsd:enumeration value="P"/>
                    <xsd:enumeration value="S"/>
                    <xsd:enumeration value="V"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CourtLevelType">
                <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="P"/>
                    <xsd:enumeration value="S"/>
                    <xsd:enumeration value="A"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="NameSearchType">
                <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="E"/>
                    <xsd:enumeration value="P"/>
                    <xsd:enumeration value="S"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="YesNoType">
                <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="FileComplexityType">
                <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="SPC"/>
                    <xsd:enumeration value="GA"/>
                    <xsd:enumeration value="SA"/>
                    <xsd:enumeration value="ALL"/>
                    <xsd:enumeration value="SG"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="JustinNoType">
                <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:maxLength value="12"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="DateType">
                <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:length value="21"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PcssCourtDivisionType">
                <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="I"/>
                    <xsd:enumeration value="R"/>
                    <xsd:enumeration value="F"/>
                    <xsd:enumeration value=" "/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CourtRoomCdType">
                <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:maxLength value="6"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="TimeType">
                <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:length value="21"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="AppearanceReasonCriminalType">
                <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="HearingRestrictionType">
                <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="S"/>
                    <xsd:enumeration value="D"/>
                    <xsd:enumeration value="A"/>
                    <xsd:enumeration value="G"/>
                    <xsd:enumeration value="XXX"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="SystemSeqNoType">
                <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="AppearanceStatusType">
                <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="SCHD"/>
                    <xsd:enumeration value="CNCL"/>
                    <xsd:enumeration value="UNCF"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="pcssCommonSecure_PortType_getCodeValuesSecureResponse">
        <wsdl:part name="parameters" element="tns1:getCodeValuesSecureResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pcssCommonSecure_PortType_getCodeValuesSecure">
        <wsdl:part name="parameters" element="tns1:getCodeValuesSecure">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pcssCommonSecure_PortType_getCourtCalendarDetailByDaySecureResponse">
        <wsdl:part name="parameters" element="tns1:getCourtCalendarDetailByDaySecureResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pcssCommonSecure_PortType_getFileSearchSecureResponse">
        <wsdl:part name="parameters" element="tns1:getFileSearchSecureResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pcssCommonSecure_PortType_getCourtCalendarDetailByDaySecure">
        <wsdl:part name="parameters" element="tns1:getCourtCalendarDetailByDaySecure">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pcssCommonSecure_PortType_getFileSearchSecure">
        <wsdl:part name="parameters" element="tns1:getFileSearchSecure">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="pcssCommonSecure_PortType">
        <wsdl:operation name="getFileSearchSecure">
            <wsdl:input message="tns1:pcssCommonSecure_PortType_getFileSearchSecure">
            </wsdl:input>
            <wsdl:output message="tns1:pcssCommonSecure_PortType_getFileSearchSecureResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCourtCalendarDetailByDaySecure">
            <wsdl:input message="tns1:pcssCommonSecure_PortType_getCourtCalendarDetailByDaySecure">
            </wsdl:input>
            <wsdl:output message="tns1:pcssCommonSecure_PortType_getCourtCalendarDetailByDaySecureResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCodeValuesSecure">
            <wsdl:input message="tns1:pcssCommonSecure_PortType_getCodeValuesSecure">
            </wsdl:input>
            <wsdl:output message="tns1:pcssCommonSecure_PortType_getCodeValuesSecureResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="JusticePCSSCommon_wsProvider_pcssCommonSecure_Binder" type="tns1:pcssCommonSecure_PortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getFileSearchSecure">
            <soap12:operation soapAction="JusticePCSSCommon_wsProvider_pcssCommonSecure_Binder_getFileSearchSecure" style="document"/>
            <wsdl:input>
                <soap12:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCourtCalendarDetailByDaySecure">
            <soap12:operation soapAction="JusticePCSSCommon_wsProvider_pcssCommonSecure_Binder_getCourtCalendarDetailByDaySecure" style="document"/>
            <wsdl:input>
                <soap12:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCodeValuesSecure">
            <soap12:operation soapAction="JusticePCSSCommon_wsProvider_pcssCommonSecure_Binder_getCodeValuesSecure" style="document"/>
            <wsdl:input>
                <soap12:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="JusticePCSSCommon.wsProvider.pcssCommonSecure">
        <wsdl:port name="JusticePCSSCommon_wsProvider_pcssCommonSecure_Port" binding="tns1:JusticePCSSCommon_wsProvider_pcssCommonSecure_Binder">
            <soap12:address location="http://reeks.bcgov:5555/ws/JusticePCSSCommon.wsProvider.pcssCommonSecure/JusticePCSSCommon_wsProvider_pcssCommonSecure_Port"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
