pcss-common-secure-models/src/main/resources/xsdSchemas/pcss-common-secure-models-1.xsd

<xsd:schema xmlns:dx="http://courts.gov.bc.ca/XMLSchema/PCSS/common/1.0.0"
            xmlns:pcss="http://courts.gov.bc.ca/XMLSchema/PCSS/1.0.0"
            targetNamespace="http://courts.gov.bc.ca/XMLSchema/PCSS/1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://courts.gov.bc.ca/XMLSchema/PCSS/common/1.0.0"/>
    <xsd:element name="getFileSearchRequest" type="pcss:getFileSearchRequest"/>
    <xsd:element name="getFileSearchResponse" type="pcss:getFileSearchResponse"/>
    <xsd:element name="getGetCodeValueSecureRequest" type="pcss:getGetCodeValueSecureRequest"/>
    <xsd:element name="getCodeValuesResponse" type="pcss:getCodeValuesResponse"/>
    <xsd:element name="getCourtCalendarDetailByDaySecureRequest" type="pcss:getCourtCalendarDetailByDaySecureRequest"/>
    <xsd:element name="getCourtCalendarDetailByDayResponse" type="pcss:getCourtCalendarDetailByDayResponse"/>
    <xsd:complexType name="getFileSearchRequest">
        <xsd:sequence>
            <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
            <xsd:element form="qualified" name="SearchMode" type="dx:SearchModeType"/>
            <xsd:element form="qualified" minOccurs="0" name="FileDivisionCd" type="dx:CourtDivisionType"/>
            <xsd:element form="qualified" minOccurs="0" name="FileHomeAgencyId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" minOccurs="0" name="FileNumberTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="FilePrefixTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="FileSuffixNo" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="MdocRefTypeCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="CourtClassCd" type="dx:CourtClassType"/>
            <xsd:element form="qualified" minOccurs="0" name="CourtLevelCd" type="dx:CourtLevelType"/>
            <xsd:element form="qualified" minOccurs="0" name="NameSearchTypeCd" type="dx:NameSearchType"/>
            <xsd:element form="qualified" minOccurs="0" name="LastNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="OrgNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="GivenNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="BirthDt" type="xsd:string"/>
            <xsd:element form="qualified" maxOccurs="unbounded" name="Permission" type="pcss:Permission"/>
            <xsd:element form="qualified" minOccurs="0" name="SearchByCrown" type="pcss:SearchByCrown"/>
            <xsd:element form="qualified" minOccurs="0" name="MdocJustinNoSet" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="PhysicalFileIdSet" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="ApplicationCd" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Permission">
        <xsd:sequence>
            <xsd:element form="qualified" minOccurs="0" name="CourtClassCd" type="dx:CourtClassType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SearchByCrown">
        <xsd:sequence>
            <xsd:element form="qualified" name="CrownPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="ActiveOnlyYN" type="dx:YesNoType"/>
            <xsd:element form="qualified" name="FileDesignationCd" type="dx:FileComplexityType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getFileSearchResponse">
        <xsd:sequence>
            <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="RecCount" type="xsd:string"/>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="FileDetail" type="pcss:FileDetail"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FileDetail">
        <xsd:sequence>
            <xsd:element form="qualified" minOccurs="0" name="MdocJustinNo" type="dx:JustinNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="PhysicalFileId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="FileHomeAgencyId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="FileNumberTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="MdocSeqNo" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="TicketSeriesTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="MdocRefTypeCd" type="xsd:string"/>
            <xsd:element form="qualified" name="CourtLevelCd" type="dx:CourtLevelType"/>
            <xsd:element form="qualified" name="CourtClassCd" type="dx:CourtClassType"/>
            <xsd:element form="qualified" minOccurs="0" name="WarrantYN" type="dx:YesNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="InCustodyYN" type="dx:YesNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="NextApprDt" type="dx:DateType"/>
            <xsd:element form="qualified" name="PcssCourtDivisionCd" type="dx:PcssCourtDivisionType"/>
            <xsd:element form="qualified" minOccurs="0" name="SealStatusCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="ApprovalCrownAgencyTypeCd" type="xsd:string"/>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Participant"
                         type="pcss:Participant"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Participant">
        <xsd:sequence>
            <xsd:element form="qualified" name="FullNm" type="xsd:string"/>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Charge" type="pcss:Charge"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Charge">
        <xsd:sequence>
            <xsd:element form="qualified" name="SectionTxt" type="xsd:string"/>
            <xsd:element form="qualified" name="SectionDscTxt" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getGetCodeValueSecureRequest">
        <xsd:sequence>
            <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
            <xsd:element form="qualified" name="ApplicationCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="lastRetrievedDate" type="dx:DateType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getCodeValuesResponse">
        <xsd:sequence>
            <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
            <xsd:element form="qualified" name="CeisCodeValues" type="pcss:CeisCodeValues"/>
            <xsd:element form="qualified" name="JustinCodeValues" type="pcss:JustinCodeValues"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CeisCodeValues">
        <xsd:sequence>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="CodeValue" type="pcss:CodeValue"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CodeValue">
        <xsd:sequence>
            <xsd:element form="qualified" name="codeType" type="xsd:string"/>
            <xsd:element form="qualified" name="code" type="xsd:string"/>
            <xsd:element form="qualified" name="shortDesc" type="xsd:string"/>
            <xsd:element form="qualified" name="longDesc" type="xsd:string"/>
            <xsd:element form="qualified" name="flex" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JustinCodeValues">
        <xsd:sequence>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="CodeValue" type="pcss:CodeValue2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CodeValue2">
        <xsd:sequence>
            <xsd:element form="qualified" name="codeType" type="xsd:string"/>
            <xsd:element form="qualified" name="code" type="xsd:string"/>
            <xsd:element form="qualified" name="shortDesc" type="xsd:string"/>
            <xsd:element form="qualified" name="longDesc" type="xsd:string"/>
            <xsd:element form="qualified" name="flex" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getCourtCalendarDetailByDaySecureRequest">
        <xsd:sequence>
            <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
            <xsd:element form="qualified" name="ApplicationCd" type="xsd:string"/>
            <xsd:element form="qualified" name="CourtAgencyId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="AppearanceDt" type="dx:DateType"/>
            <xsd:element form="qualified" name="CourtRoomCd" type="dx:CourtRoomCdType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getCourtCalendarDetailByDayResponse">
        <xsd:sequence>
            <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Appearance" type="pcss:Appearance"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Appearance">
        <xsd:sequence>
            <xsd:element form="qualified" name="CourtDivisionCd" type="dx:CourtDivisionType"/>
            <xsd:element form="qualified" name="CourtClassCd" type="dx:CourtClassType"/>
            <xsd:element form="qualified" name="CourtRoomCd" type="dx:CourtRoomCdType"/>
            <xsd:element form="qualified" name="AppearanceDt" type="dx:DateType"/>
            <xsd:element form="qualified" name="AppearanceTm" type="dx:TimeType"/>
            <xsd:element form="qualified" name="AppearanceReasonCd" type="dx:AppearanceReasonCriminalType"/>
            <xsd:element form="qualified" minOccurs="0" name="DurationHour" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="DurationMin" type="xsd:string"/>
            <xsd:element form="qualified" name="CourtFileNumber" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="StyleOfCause" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="AdjudicatorInitials" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="AdjudicatorNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="HearingRestrictionCd" type="dx:HearingRestrictionType"/>
            <xsd:element form="qualified" minOccurs="0" name="CaseAgeDays" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="VideoYn" type="dx:YesNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="InCustodyYn" type="dx:YesNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="ApprId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="AccusedNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="AccusedCounselNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="AppearanceId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="ProfPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="ProfSeqNo" type="dx:SystemSeqNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="AppearanceStatusCd" type="dx:AppearanceStatusType"/>
            <xsd:element form="qualified" minOccurs="0" name="RemoteVideoYn" type="dx:YesNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="HomeLocationAgenId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" minOccurs="0" name="CourtlistRefNumber" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="MdocJustinNo" type="dx:JustinNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="PhysicalFileId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="CourtLevelCd" type="dx:CourtLevelType"/>
            <xsd:element form="qualified" minOccurs="0" name="NoteTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="BailPositionTypeCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="BailDecisionTypeCD" type="xsd:string"/>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Party" type="pcss:Party"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Party">
        <xsd:sequence>
            <xsd:element form="qualified" name="PartyId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="PartyNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="CounselNm" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
